.product {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  height: 400px;
  width: 325px;
}

.product__rating {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.product__rating p span {
  color: gold;
}

.product .product__title {
  color: #666;
  padding: 1rem 0 0.5rem;
}

.product .product__price {
  color: #666;
}
